html,
body,
.container-table {
    height: 100%;
    width: 100%;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

#home {
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
}

h3 {
    font-size: 50px;
    font-family: 'Amita', cursive;
    text-align: center;
}

h2 {
    font-family: 'Jacques Francois Shadow', cursive;
}

p {
    font-family: 'Germania One', cursive;
    font-size: 22px;
}

@media only screen and (min-width: 768px) {
    #home {
        text-align: center;
        font-size: 40px;
    }
    h3 {
        font-size: 40px;
    }
    p {
        font-size: 25px;
    }
}

@media only screen and (min-width:992px) {
    #home {
        font-size: 50px;
    }
    h3 {
        font-size: 44px;
    }
}

@media only screen and (min-width:1200px) {
    #home {
        font-size: 62px;
    }
    h3 {
        font-size: 52px;
    }
}

div.img {
    margin: 17px;
    float: left;
    width: 300px;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    border: .5px solid black;
    text-align: center;
    height: 32px;
    font-size: 20px;
    font-family: 'Architects Daughter', cursive;
}

#front-page {
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(255, 80, 80, 0.9), rgba(0, 0, 0, 0.1)), URL('img/balloon-3.jpg') no-repeat center;
    background-size: cover;
}

#Mission {
    text-align: center;
    padding-top: 45px;
    display: table;
    background-color: #E8C374;
    width: 100%;
}

#Testimonials {
    padding-top: 45px;
    display: table;
    background-color: #FF907E;
    width: 100%;
}

#Information {
    padding-top: 45px;
    display: table;
    background-color: #B49AE8;
    width: 100%;
}

#Contact {
    padding-top: 45px;
    display: table;
    background-color: #95F7FF;
    width: 100%;
}

#Gallery {
    background-color: #CCFFA2;
    padding-top: 45px;
    display: table;
}

.description {
    font-style: italic;
    text-align: center;
    font-size: 23px;
    color: rgba(153, 153, 153, 0.5);
}

.lightbrown {
    padding: 5px;
    background-color: rgba(218, 166, 113, 0.5);
}

.brown {
    padding: 5px;
    background-color: rgba(208, 140, 73, 0.7);
}

#small {
    font-size: 19px;
}

#slogan {
    font-size: 50px;
}

.description1 {
    font-style: italic;
    text-align: center;
    font-size: 23px;
    color: rgba(102, 102, 102, 0.6);
}

#memories {
    font-size: 25px;
}