html,
body,
.container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

@media only screen and (min-width:768px) {
    #home {
        text-align:center;
        font-size: 36px;
    }
}

@media only screen and (min-width:992px) {
    #home {
        font-size: 46px;
    }
}

@media only screen and (min-width:1200px) {
    #home {
        font-size: 56px;
    }
}

img {
    height: 300px;
    
}

#home {
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
}

#op{
    background-image: URL('img/balloon-3.jpg');
    background-size: cover;
}
#Testimonials{
    background-color:#79F18F;
}
#Information{
    background-color:#43B5E8;
}
#Contact{
    background-color:#FF6461;
}
