.navbar {
    font-family: 'Kavoon', cursive;
    font-size: 20px;
    background-color: rgba(114, 243, 170, 0.7);
}

@media only screen and (min-width: 768px){
    .nav {
        font-size: 15px;
    }
}
@media only screen and (min-width: 992px){
    .nav {
        font-size: 21.7px;
    }
}
@media only screen and (min-width: 1200px){
    .nav {
        font-size: 27px;
    }
}